[submodule "SharpZipLib"]
	path = SharpZipLib
	url = git://github.com/icsharpcode/SharpZipLib.git
[submodule "WpfExtendedToolkit"]
	path = WpfExtendedToolkit
	url = git://github.com/dotnetprojects/WpfExtendedToolkit.git
[submodule "Fluent.Ribbon"]
	path = Fluent.Ribbon
	url = git://github.com/fluentribbon/Fluent.Ribbon.git
[submodule "AvalonEdit"]
	path = AvalonEdit
	url = git://github.com/icsharpcode/AvalonEdit.git
[submodule "SRPGStudio.GameObjects"]
	path = SRPGStudio.GameObjects
	url = git://github.com/lrh3321/SRPGStudio.GameObjects.git
