[submodule "Fluent.Ribbon"]
	path = Fluent.Ribbon
	url = http://github.com/fluentribbon/Fluent.Ribbon.git
[submodule "WpfExtendedToolkit"]
	path = WpfExtendedToolkit
	url = http://github.com/dotnetprojects/WpfExtendedToolkit.git
